<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2 style="text-align:left;float:left;">Create a product for <%= @product.supplier.name %></h2>
  <h5 style="text-align:right;float:right;"><%= @product.supplier.sales_tax_registered_text %></h5>
  <br /><br />
  <div data-controller="product">
    <div class="d-none" data-product-target="registeredForSalesTax"><%= @product.supplier. sales_tax_registered %></div>
    <% if @product.errors.any? %>
      <% @product.errors.full_messages.each do |message|%>
         <p class="text-red-700 text-base"><%= message %> </p>
      <%end%>
    <%end%>
    <%= simple_form_for @product, builder: TailwindFormBuilder, class: "mt-6", url: catalogue_supplier_products_path do |f| %>
      <div class="row">
        <div class="col-6">
          <%= f.label "Product Title" %>
          <%= f.text_field :title, placeholder: 'My Product' %>
        </div>
        <div class="col-6">
          <%= f.label "Product Description" %>
          <%= f.text_field :description, placeholder: 'Description of my product' %>
        </div>
      </div>
      <br />
      <%= f.label "Notes" %>
      <%= f.text_field :notes, placeholder: 'anything you like in here' %>
      <br />
      <br />
      <div class="row">
        <div class="col-4">
          <%= f.label "SKU Code" %>
          <%= f.text_field :sku_code, value: @product.sku_code, readonly: true %>
        </div>
        <div class="col-4">
          <%= f.input :publish, as: :select, collection: [true, false], required: true, include_blank: false, label: 'Publish this Product?', selected: @product.display_published %>
        </div>
        <div class="col-4">
          <%= f.label "Select Accounting Code" %>
          <br />
          <%= f.collection_select :accounting_code_id, AccountingCode.order(:name),:id,:name, include_blank: true %>
        </div>
      </div>
      <br />

      <br />
      <%= f.label "How would you like to calculate the prices?" %>
      <br />

      <%= f.collection_select :price_calc_method, @calculation_methods, :value, :name, {include_blank: true, selected: @product.selected_price_calc_method_id }, data: { action: "change->product#selectSection", target: "product.priceCalcMethod" } %>

      <br />

      <br />

      <!-- section for entering amounts via the retail price method -->
      <div class="d-none" data-product-target="calculateRetailPriceSection">
        <br />
        <div class="row">
          <div class="col-6">
            <%= f.label "Estimated Retail Price (excluding sales tax)" %>
            <%= f.text_field :retail_price, placeholder: 'enter the amount you intend to sell the product for minus sales tax', value: @product.display_retail_price, data: { action: "change->product#retailPriceDataEntered", target: "product.retailPrice" } %>
          </div>
          <div class="col-6">
            <%= f.label "Markup percentage" %>
            <%= f.text_field :markup, placeholder: 'enter the markup percentage you would like to determine the cost price', value: @product.display_markup, data: { action: "change->product#retailPriceDataEntered", target: "product.retailPercentage" } %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="cost_price">Suppliers Cost Price (excl tax)</div>
            <div class="cost_price" data-product-target="retailCalculatedCostPrice">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="cost_price">Suppliers Tax Amount</div>
            <div class="cost_price" data-product-target="retailCalculatedCostPriceTax">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="cost_price">Suppliers Total Cost Price (incl tax)</div>
            <div class="cost_price" data-product-target="retailCalculatedCostPriceTotal">
              $ -
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="retail_price">Adjusted Retail Price (excl tax)</div>
            <div class="retail_price" data-product-target="retailCalculatedRetailPrice">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="retail_price">Retail Tax Amount</div>
            <div class="retail_price" data-product-target="retailCalculatedRetailPriceTax">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="retail_price">Total Retail Price (incl tax)</div>
            <div class="retail_price" data-product-target="retailCalculatedRetailPriceTotal">
              $ -
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="markup_data">Markup Amount</div>
            <div class="markup_data" data-product-target="retailCalculatedMarkupAmount">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="markup_data">Profit Amount</div>
            <div class="markup_data" data-product-target="retailCalculatedProfitAmount">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="markup_data">Retail Tax Liability</div>
            <div class="markup_data" data-product-target="retailCalculatedRetailTaxLiability">
              $ -
            </div>
          </div>
        </div>
      </div>
      <!-- section for entering amounts via the retail price method -->

      <!-- section for entering amounts via the cost price method -->
      <div class="d-none" data-product-target="calculateCostPriceSection">
        <br />
        <div class="row">
          <div class="col-6">
            <%= f.label @product.cost_price_label %>
            <%= f.text_field :cost_price, placeholder: 'enter the amount which you paid the supplier for this product', value: @product.display_cost_price, data: { action: "change->product#costPriceDataEntered", target: "product.costPrice" } %>
          </div>
          <div class="col-6">
            <%= f.label "Markup percentage" %>
            <%= f.text_field :markup, placeholder: 'enter the markup percentage to apply to the cost price, e.g. 50%', value: @product.display_markup, data: { action: "change->product#costPriceDataEntered", target: "product.percentage" } %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="cost_price">Suppliers Cost Price (excl tax)</div>
            <div class="cost_price" data-product-target="calculatedCostPrice">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="cost_price">Suppliers Tax Amount</div>
            <div class="cost_price" data-product-target="calculatedCostPriceTax">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="cost_price">Suppliers Total Cost Price (incl tax)</div>
            <div class="cost_price" data-product-target="calculatedCostPriceTotal">
              $ -
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="retail_price">Retail Price (excl tax)</div>
            <div class="retail_price" data-product-target="calculatedRetailPrice">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="retail_price">Retail Tax Amount</div>
            <div class="retail_price" data-product-target="calculatedRetailPriceTax">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="retail_price">Total Retail Price (incl tax)</div>
            <div class="retail_price" data-product-target="calculatedRetailPriceTotal">
              $ -
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="markup_data">Markup Amount</div>
            <div class="markup_data" data-product-target="calculatedMarkupAmount">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="markup_data">Profit Amount</div>
            <div class="markup_data" data-product-target="calculatedProfitAmount">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="markup_data">Retail Tax Liability</div>
            <div class="markup_data" data-product-target="calculatedRetailTaxLiability">
              $ -
            </div>
          </div>
        </div>
      </div>
      <!-- section for entering amounts via the cost price method -->

      <br />
      <br />
      <%= f.submit_button "Create Product" %>
      <%= link_to "Cancel", catalogue_supplier_path(@product.supplier.id), class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>