<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2>Details for Product <%= @existing_product.title.titleize %></h2>
  <div data-controller="hello">
    <table style="width:50%">
      <tr>
        <th>Product Title:</th>
        <td><%= @existing_product.title %></td>
      </tr>
      <tr>
        <th>Product Description:</th>
        <td><%= @existing_product.description %></td>
      </tr>
      <tr>
        <th>Notes:</th>
        <td><%= @existing_product.display_notes %></td>
      </tr>
      <tr>
        <th>SKU Code:</th>
        <td><%= @existing_product.sku_code %></td>
      </tr>
      <tr>
        <th>Product Published:</th>
        <td><%= @existing_product.display_published %></td>
      </tr>
      <tr><th>&nbsp;</th><td>&nbsp;</td></tr>
      <% if @existing_product.supplier_registered_for_sales_tax? %>
        <tr>
          <th>Cost Price:</th>
          <td><%= @existing_product.display_cost_price %></td>
        </tr>
        <tr>
          <th>Tax Amount:</th>
          <td><%= @existing_product.display_cost_price_tax_amount %></td>
        </tr>
      <% end %>
      <tr>
        <th>Total Cost Price (inclusive sales tax):</th>
        <td><%= @existing_product.display_total_cost_price %></td>
      </tr>
      <tr><th>&nbsp;</th><td>&nbsp;</td></tr>
      <tr>
        <th>Retail Price (excluding sales tax):</th>
        <td><%= @existing_product.display_retail_price %></td>
      </tr>
      <tr>
        <th>Applicable Tax:</th>
        <td><%= @existing_product.display_retail_price_tax_amount %></td>
      </tr>
      <tr>
        <th>Total Retail Price (inclusive sales tax):</th>
        <td><%= @existing_product.display_total_retail_price_including_tax %></td>
      </tr>
      <tr><th>&nbsp;</th><td>&nbsp;</td></tr>
      <tr>
        <th>Markup on Cost Price:</th>
        <td><%= @existing_product.display_markup %></td>
      </tr>
      <tr>
        <th>Markup Amount:</th>
        <td><%= @existing_product.display_retail_mark_up_amount %></td>
      </tr>
      <tr>
        <th>Profit Amount:</th>
        <td><%= @existing_product.display_profit_amount %></td>
      </tr>
      <tr>
        <th>Retail Tax Liability:</th>
        <td><%= @existing_product.display_retail_sales_tax_liability_amount %></td>
      </tr>
      <tr><th>&nbsp;</th><td>&nbsp;</td></tr>
      <tr>
        <th>Accounting Code:</th>
        <td><%= @existing_product.accounting_code_id %></td>
      </tr>
    </table>
    <br />
      <%= link_to "Back to All Products", catalogue_supplier_path(@existing_product.supplier.id), class: "btn btn-primary" %>
  </div>
</div>
