<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2>Create a Variant for Product: <%= @product.title %></h2>
  <div data-controller="hello">
    <% if @variant.errors.any? %>
      <% @variant.errors.full_messages.each do |message|%>
         <p class="text-red-700 text-base"><%= message %> </p>
      <%end%>
    <%end%>
    <%= simple_form_for @variant, builder: TailwindFormBuilder, class: "mt-6", url: catalogue_supplier_product_variants_path do |f| %>
      <%= f.hidden_field :quantity, value: 0 %>
      <br />

      <% index = 0 %>
      <h5><%= f.label "Please select applicable attributes for this variant" %></h5>
      <%= f.simple_fields_for :product_attributes_variants do |attribute_fields| %>
        <%= attribute_fields.label @attribute_types[index] %>
        <%= attribute_fields.collection_select :product_attribute_id, ProductAttribute.atributes_for(@attribute_types[index]).order(:value),:id,:value, include_blank: false %>
        <% index += 1 %>
        <br />
      <% end %>

      <br />
      <%= link_to '<button type="button" class="btn btn-outline-secondary">New Attribute Type</button>'.html_safe, new_catalogue_supplier_product_product_attribute_type_path(@product.supplier.id, @product) %>
      <%= link_to '<button type="button" class="btn btn-outline-secondary">Add Attribute Values</button>'.html_safe, new_catalogue_supplier_product_product_attribute_path(@product.supplier.id, @product) %>
      <br />
      <br />
      <%= f.label "SKU Code" %>
      <%= f.text_field :sku_code, value: @variant.sku_code %>
      <br />
      <br />
      <%= f.submit_button "Create Variant" %>
      <%= link_to "Cancel", catalogue_supplier_path(@product.supplier.id), class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>
