<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2>Create a Variant for Product: <%= @product.title %></h2>
  <% if @variant.errors.any? %>
    <% @variant.errors.full_messages.each do |message|%>
       <p class="text-red-700 text-base"><%= message %> </p>
    <%end%>
  <%end%>

  <div data-controller="variant">
    <%= simple_form_for @variant, builder: TailwindFormBuilder, class: "mt-6", url: catalogue_supplier_product_variants_path do |f| %>
      <%= f.hidden_field :quantity, value: 0 %>

      <!-- only show if in stage one -->
      <% if @variant_attributes.blank? %>
        <% index = 0 %>
        <h5><%= f.label "Please select the applicable attributes for this variant from the Attribute Type drop downs below" %></h5>
        <br />
        <%= f.simple_fields_for :product_attributes_variants do |attribute_fields| %>
          <% if index == 0 || index % 3 == 0 %>
            <div class="row">
          <% end %>
            <div class="col-4" >
              <%= attribute_fields.label @attribute_types[index] %>
              <%= attribute_fields.collection_select :product_attribute_id, ProductAttribute.atributes_for(@attribute_types[index]).order(:value),:id, :display_value, include_blank: false %>
            </div>
          <% index += 1 %>
        <% end %>
        <% @number_of_rows_for_attribute_types.times do  %>
          </div>
        <% end %>
        <br />
        <h6>If there is a value missing from any of the drop downs above you can use the Add Attribute Values button to create it.</h6>
        <br />
        <h6>If you don't see a drop down for an attribute type, such as Material, you can use the New Attribute Type button to create it, then add values such as Wood or Metal with the Add Attribute Values button.</h6>
        <%= link_to '<button type="button" class="btn btn-outline-primary">Add Attribute Values</button>'.html_safe, new_catalogue_supplier_product_product_attribute_path(@product.supplier.id, @product) %>
        <%= link_to '<button type="button" class="btn btn-outline-secondary">New Attribute Type</button>'.html_safe, new_catalogue_supplier_product_product_attribute_type_path(@product.supplier.id, @product) %>
        <%= link_to '<button type="button" class="btn btn-outline-danger">Remove Attribute Type</button>'.html_safe, catalogue_supplier_product_product_attribute_types_path(@product.supplier.id, @product) %>
        <br />
        <br />

        <!-- we are misusing quantity on variant to record whether or not to use the product pricing -->
        <h5><%= f.label "Use same pricing and markup as product?" %></h5>
        <% use_product_prices = [OpenStruct.new(name: 'Yes', value: 1), OpenStruct.new(name: 'No this Variant has different prices and/or markup', value: 0)] %>
        <%= f.collection_select :quantity, use_product_prices, :value, :name, {include_blank: true, selected: @variant.use_product_details? }, data: { action: "change->variant#useProductPricing", target: "variant.usesProductPricing" } %>

      <!-- only show if in stage two -->
      <% else %>
        <h5><%= "creating new variant with #{@variant.display_characteristics}" %></h5>
        <%= f.label "How would you like to calculate the prices?" %>
        <br />
        <%= f.collection_select :price_calc_method, @calculation_methods, :value, :name, {include_blank: true, selected: @variant.price_calc_method }, data: { action: "change->variant#selectPriceCalcMethod", target: "variant.priceCalcMethodSelector" } %>
      <% end %>

      <!-- pass through the product_attributes_variants ids from stage one as hidden fields -->
      <% index = 0 %>
      <%= f.simple_fields_for :product_attributes_variants do |attribute_field| %>
        <%= attribute_field.hidden_field :product_attribute_id, value: @variant_attributes[index].id unless @variant_attributes.blank? %>
        <% index += 1 %>
      <% end %>

      <!-- required in the stimulus calc code -->
      <div data-variant-target="registeredForSalesTax", hidden >
        <%= @product.supplier.sales_tax_registered %>
      </div>

      <!-- section for entering amounts via the retail price method -->
      <div data-variant-target="calculateRetailPriceSection" hidden >
        <br />
        <div class="row">
          <div class="col-6">
            <%= f.label "Total Retail Price (including sales tax)" %>
            <%= f.text_field :retail_price, placeholder: 'the amount you intend to sell the product for and place on price labels', value: @variant.display_total_retail_price_including_tax, data: { action: "change->variant#retailPriceDataEntered", target: "variant.retailPrice" } %>
          </div>
          <div class="col-6">
            <%= f.label "Markup percentage" %>
            <%= f.text_field :markup, placeholder: 'enter the markup percentage you would like to determine the cost price', value: @variant.display_markup, data: { action: "change->variant#retailPriceDataEntered", target: "variant.retailPercentage" } %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="cost_price">Suppliers Cost Price (excl tax)</div>
            <div class="cost_price" data-variant-target="retailCalculatedCostPrice">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="cost_price">Suppliers Tax Amount</div>
            <div class="cost_price" data-variant-target="retailCalculatedCostPriceTax">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="cost_price">Suppliers Total Cost Price (incl tax)</div>
            <div class="cost_price" data-variant-target="retailCalculatedCostPriceTotal">
              $ -
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="retail_price">Retail Price (excl tax)</div>
            <div class="retail_price" data-variant-target="retailCalculatedRetailPrice">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="retail_price">Retail Tax Amount</div>
            <div class="retail_price" data-variant-target="retailCalculatedRetailPriceTax">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="retail_price">Total Retail Price (incl tax)</div>
            <div class="retail_price" data-variant-target="retailCalculatedRetailPriceTotal">
              $ -
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="markup_data">Markup Amount</div>
            <div class="markup_data" data-variant-target="retailCalculatedMarkupAmount">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="markup_data">Profit Amount</div>
            <div class="markup_data" data-variant-target="retailCalculatedProfitAmount">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="markup_data">Retail Tax Liability</div>
            <div class="markup_data" data-variant-target="retailCalculatedRetailTaxLiability">
              $ -
            </div>
          </div>
        </div>
      </div>
      <!-- section for entering amounts via the retail price method -->

      <!-- section for entering amounts via the cost price method -->
      <div data-variant-target="calculateCostPriceSection" hidden>
        <br />
        <div class="row">
          <div class="col-6">
            <%= f.label @variant.product.cost_price_label %>
            <%= f.text_field :cost_price, placeholder: 'enter the amount which you paid the supplier for this product', value: @variant.product.display_cost_price, data: { action: "change->variant#costPriceDataEntered", target: "variant.costPrice" } %>
          </div>
          <div class="col-6">
            <%= f.label "Markup percentage" %>
            <%= f.text_field :markup, placeholder: 'enter the markup percentage to apply to the cost price, e.g. 50%', value: @variant.display_markup, data: { action: "change->product#costPriceDataEntered", target: "variant.markup" } %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="cost_price">Suppliers Cost Price (excl tax)</div>
            <div class="cost_price" data-variant-target="calculatedCostPrice">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="cost_price">Suppliers Tax Amount</div>
            <div class="cost_price" data-variant-target="calculatedCostPriceTax">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="cost_price">Suppliers Total Cost Price (incl tax)</div>
            <div class="cost_price" data-variant-target="calculatedCostPriceTotal">
              $ -
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="retail_price">Retail Price (excl tax)</div>
            <div class="retail_price" data-variant-target="calculatedRetailPrice">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="retail_price">Retail Tax Amount</div>
            <div class="retail_price" data-variant-target="calculatedRetailPriceTax">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="retail_price">Total Retail Price (incl tax)</div>
            <div class="retail_price" data-variant-target="calculatedRetailPriceTotal">
              $ -
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <div class="markup_data">Markup Amount</div>
            <div class="markup_data" data-variant-target="calculatedMarkupAmount">
              $ -
            </div>
          </div>
           <div class="col-4">
            <div class="markup_data">Profit Amount</div>
            <div class="markup_data" data-variant-target="calculatedProfitAmount">
              $ -
            </div>
          </div>
          <div class="col-4">
            <div class="markup_data">Retail Tax Liability</div>
            <div class="markup_data" data-variant-target="calculatedRetailTaxLiability">
              $ -
            </div>
          </div>
        </div>
      </div>
      <!-- section for entering amounts via the cost price method -->

      <br />
      <br />
      <%= f.submit_button 'Create Variant' %>
      <%= link_to "Cancel", catalogue_supplier_path(@product.supplier.id), class: "btn btn-outline-secondary" %>

    <% end %>
  </div>
</div>
