<div class="p-10">
  <h2 style="text-align:left;float:left;">Showing Products for <%= @supplier.name %></h2>
  <h5 style="text-align:right;float:right;"><%= @supplier.sales_tax_registered_text %></h5>
  <br /><br />
  <div class="accordion" id="accordionExample">
    <% @products.each do |product| %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <% collapse_target = "#collapse#{product.sku_code}" %>
          <% collapse_id = "collapse#{product.sku_code}" %>
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%= collapse_target %> aria-expanded="false" aria-controls=<%= collapse_id %>>
            <h6><b><%= product.display_title %></b></h6>
          </button>
        </h2>
        <div id=<%= collapse_id %> class="accordion-collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table style="width: 100%">
              <colgroup>
                 <col span="1" style="width: 8%;">
                 <col span="1" style="width: 19%;">
                 <col span="1" style="width: 10%;">
                 <col span="1" style="width: 10%;">
                 <col span="1" style="width: 8%;">
                 <col span="1" style="width: 8%;">
                 <col span="1" style="width: 37%;">
              </colgroup>
              <tbody>
                <tr>
                  <th>SKU Code</th>
                  <th>Description/Variants</th>
                  <th>Retail Price</th>
                  <th>Cost Price</th>
                  <th>Quantity</th>
                  <th>Published?</th>
                  <th></th>
                </tr>
                <tr>
                  <td><%= product.display_sku %></td>
                  <td><%= product.description %></td>
                  <td><%= product.display_total_retail_price_including_tax %></td>
                  <% if @supplier.registered_for_sales_tax? %>
                    <td><%= product.display_total_cost_price %></td>
                  <% else %>
                    <td><%= product.display_cost_price %></td>
                  <% end %>
                  <td><%= product.stock_count %></td>
                  <td><%= product.publish %></td>
                  <td>
                    <%= link_to "View", catalogue_supplier_product_path(@supplier.id, product.id), class: "btn btn-primary" %>
                    <%= link_to "Edit", edit_catalogue_supplier_product_path(@supplier.id, product.id), class: "btn btn-secondary" %>
                    <%= link_to '<button type="button" class="btn btn-danger">Remove</button>'.html_safe, catalogue_supplier_product_path(@supplier.id, product.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to try and delete this Product?'} %>
                  </td>
                </tr>
                <tr><td colspan="7">&nbsp;</td></tr>
                <% if product.variants.any? %>
                  <% product.variants.each do |variant| %>
                    <tr>
                      <td><%= variant.sku_code %></td>
                      <td><%= variant.display_characteristics %></td>
                      <!-- THIS NEEDS TO BE FIXED -->
                      <td><%= variant.display_total_retail_price_including_tax %></td>
                      <td><%= variant.display_total_cost_price %></td>

                        <td><%= variant.stock_count %></td>
                        <td><%= product.publish %></td>
                        <td>
                          <%= link_to "View", catalogue_supplier_product_variant_path(@supplier.id, product.id, variant.id), class: "btn btn-outline-primary" %>
                          <%= link_to "Edit", edit_catalogue_supplier_product_variant_path(@supplier.id, product.id, variant.id), class: "btn btn-outline-secondary" %>
                          <%= link_to '<button type="button" class="btn btn-outline-danger">Remove</button>'.html_safe, catalogue_supplier_product_variant_path(@supplier.id, product.id, variant.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this Variant?'} %>
                        </td>
                    </tr>
                  <% end %>
                  <tr><td colspan="7">
                    <%= link_to "Add Another Variant", new_catalogue_supplier_product_variant_path(@supplier.id, product.id), class: "btn btn-primary" %>
                  </td></tr>
                <% else %>
                  <tr><td colspan="7">
                    <%= link_to "Create Variant for Product", new_catalogue_supplier_product_variant_path(@supplier.id, product.id), class: "btn btn-primary" %>
                  </td></tr>
                <% end %>
                <tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <footer class="bg-white text-center text-lg-start fixed-bottom">
    <div class="pt-6 pb-6 pl-10 text-gray-800 max-w-7xl">
      <row>
        <%= link_to "Create New Product", new_catalogue_supplier_product_path(@supplier.id), class: "btn btn-primary" %>
        <%= link_to "Select another Supplier", catalogue_suppliers_path(@supplier.id), class: "btn btn-outline-secondary" %>
        <%= link_to "Back to Catalogue", catalogue_index_path(@supplier.id), class: "btn btn-outline-secondary" %>
      </row>
    </div>
  </footer>
</div>
