<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2>New Sale - Step 2 of 4</h2>
  <h5>Add Customer Details to Order</h5>
  <div data-controller="hello">
    <% if @customer.errors.any? %>
      <% @customer.errors.full_messages.each do |message|%>
         <p class="text-red-700 text-base"><%= message %> </p>
      <%end%>
    <%end%>
    <br />
    <%= simple_form_for @customer, builder: TailwindFormBuilder, class: "mt-6", url: customers_path do |f| %>
      <%= f.label "Customer Email" %>
      <%= f.text_field :email_address, placeholder: 'optional' %>
      <br />
      <br />
      <%= f.label "Customer First Name" %>
      <%= f.text_field :first_name, placeholder: 'optional' %>
      <br />
      <br />
      <%= f.label "Customer Last Name" %>
      <%= f.text_field :last_name, placeholder: 'optional' %>
      <br />
      <br />
      <%= f.label "Customer Phone Number" %>
      <%= f.text_field :phone_number, placeholder: 'optional' %>
      <br />
      <br />
      <%= hidden_field_tag 'items', @items %>
      <%= f.submit_button "Add and Continue" %>
      <%= link_to "Skip and Continue",  new_order_without_customer_payments_path(items: @items), class: "btn btn-primary" %>
      <%= link_to "Cancel", sales_path, class: "btn btn-outline-secondary", data: {turbo_method: :delete } %>
    <% end %>
  </div>
</div>
