<main class="p-12 mx-auto text-gray-800 max-w-7xl">
  <% if @supplier.errors.any? %>
    <% @supplier.errors.full_messages.each do |message|%>
       <p class="text-red-700 text-base"><%= message %> </p>
    <%end%>
    <br />
  <%end%>

  <%= simple_form_for @supplier, builder: TailwindFormBuilder, class: "mt-6", url: suppliers_path do |f| %>
    <%= f.label "Suppliers Name" %>
    <%= f.text_field :name, placeholder: 'My Supplier Ltd' %>
    <br />
    <%= f.label "Suppliers Email" %>
    <%= f.text_field :email, placeholder: 'person@supplier.com' %>
    <br />
    <%= f.label "Suppliers Contact Number" %>
    <%= f.text_field :phone, placeholder: '0414 444 444' %>
    <br />
    <%= f.simple_fields_for :address do |address_fields| %>
      <%= address_fields.label "Address Line 1" %>
      <%= address_fields.text_field :first_line, placeholder: 'Unit 2 The Courtyard' %>
      <%= address_fields.label "Address Line 2" %>
      <%= address_fields.text_field :second_line, placeholder: '123, High Street' %>
      <%= address_fields.label "City" %>
      <%= address_fields.text_field :city, placeholder: 'Sydney' %>
      <%= address_fields.label "State" %>
      <%= address_fields.text_field :city, placeholder: 'NSW' %>
      <%= address_fields.label "Postal Code" %>
      <%= address_fields.text_field :postcode, placeholder: '2001' %>
      <%= address_fields.label "Country" %>
      <%= address_fields.collection_select :country_id, Country.all.order(:country),:id, :country, include_blank: true %>
    <% end %>
    <br /><br />
    <%= f.label "Notes" %>
    <%= f.text_field :notes, placeholder: 'anything you like in here' %>
    <br />
    <%= f.input :sales_tax_registered, as: :select, collection: [true, false], required: true, include_blank: false, label: 'Registered for Sales Tax?', selected: @supplier.sales_tax_registered %>
    <br />
    <br />
    <row>
    <%= f.submit_button "Create Supplier" %>
  <% end %>
    <%= link_to "Cancel", suppliers_path, class: "btn btn-outline-secondary" %>
  </row>
</main>