<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2>All Sales</h2>
  <div data-controller="hello">
    <br />
    <table style="width:100%">
      <tr>
        <th>Date</th>
        <th>State</th>
        <th>Manually Raised?</th>
        <th>Payment Method</th>
        <th>Payment Amount (incl. Tax)</th>
        <th>Customer Details</th>
        <th></th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.display_date %></td>
          <td><%= order.state&.upcase %></td>
          <% if order.manual_order? %>
            <td>YES</td>
            <td>Not Recorded</td>
            <td><%= order.receipts&.first&.display_total_amount_including_tax %></td>
          <% else %>
            <td></td>
            <td><%= order.payment_method&.titleize %></td>
            <td><%= order.display_order_price_total_including_tax %></td>
          <% end %>
          <td><%= order.customer_details %></td>
          <td><%= link_to "View Details", sale_path(order.id), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
