<div>
  <%= simple_form_for @report, method: :put, builder: TailwindFormBuilder, class: "mt-6", url: report_path(@report.id) do |f| %>
    <%= f.label "Showing sales from" %>
    <%= f.date_field :from_date, value: @view_model.from_date %>
    <%= f.label "up until" %>
    <%= f.date_field :to_date, value: @view_model.to_date %>
    <br />
    <table style="width: 100%">
      <colgroup>
         <col span="1" style="width: 15%;">
         <col span="1" style="width: 5%;">
         <col span="1" style="width: 5%;">
         <col span="1" style="width: 10%;">
         <col span="1" style="width: 30%;">
         <col span="1" style="width: 10%;">
         <col span="1" style="width: 5%;">
         <col span="1" style="width: 10%;">
         <col span="1" style="width: 10%;">
      </colgroup>
      <thead>
        <tr>
          <th>Date</th>
          <th>Order</th>
          <th>Shipping/Discount</th>
          <th>Sku</th>
          <th>Description</th>
          <th style="text-align: right">Item Amount</th>
          <th style="text-align: center">Quant</th>
          <th style="text-align: right">Total Retail</th>
          <th style="text-align: right">Amount Paid</th>
        </tr>
      </thead>
      <tbody>
        <br />
        <% @view_model.items_sold.each do |item| %>
          <tr>
            <td style="text-align: left"><%= item.date %></td>
            <td style="text-align: left"><%= item.order_ref %></td>
            <td style="text-align: left"><%= item.discount_or_shipping %></td>
            <td style="text-align: left"><%= item.sku_code %></td>
            <td style="text-align: left"><%= item.description %></td>
            <td style="text-align: right"><%= item.unit_amount_paid %></td>
            <td style="text-align: center"><%= item.quantity %></td>
            <td style="text-align: right"><%= item.total_retail_amount %></td>
            <td style="text-align: right"><%= item.total_amount_paid %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br /><br />
    <footer class="bg-white text-center text-lg-start fixed-bottom">
      <div class="pt-6 pb-6 pl-10 text-gray-800 max-w-7xl">
        <row>
          <%= f.submit_button "Filter dates" %>
          <%= link_to "Reset filter", report_path, class: "btn btn-secondary" %>
          <%= link_to "Export as CSV", report_path(format: 'csv', filter: { from_date: @view_model.from_date, to_date: @view_model.to_date }), class: "btn btn-outline-primary" %>
        </div>
      </row>
    </footer>
  <% end %>
</div>
