<div>
  <table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 45%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
      <tr>
        <th>Date</th>
        <th>Order Ref</th>
        <th>Items</th>
        <th>Description</th>
        <th>Quantity</th>
        <th style="text-align: right">Amount Paid</th>
      </tr>
    </thead>
    <tbody>
      <br />
      <% @view_model.orders.each do |order| %>
        <tr>
          <td style="text-align: left"><%= order.date %></td>
          <td style="text-align: left"><%= order.order_ref %></td>
          <td style="text-align: left"><%= order.items %></td>
          <td style="text-align: left"><%= order.description %></td>
          <td style="text-align: left"><%= order.quantity %></td>
          <td style="text-align: right"><%= order.amount_paid %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <%= link_to "Export as CSV", report_path(format: 'csv'), class: "btn btn-outline-primary" %>
</div>
