<div>
  <table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 13%;">
       <col span="1" style="width: 7%;">
       <col span="1" style="width: 13%;">
       <col span="1" style="width: 7%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
      <tr>
        <th>Product</th>
        <th>Sku</th>
        <th>Description</th>
        <th>Quantity</th>
        <th style="text-align: right">Cost Price</th>
        <th style="text-align: right">Tax Amount</th>
        <th style="text-align: right">Total Cost</th>
        <th style="text-align: right">Retail Price</th>
        <th style="text-align: right">Tax</th>
        <th style="text-align: right">Total Retail</th>
      </tr>
    </thead>

    <tbody>
      <br />
      <% @view_model.products.each do |product| %>
        <% product.variants.each do |variant| %>
          <tr>
            <td><%= product.title %></td>
            <td><%= variant.sku_code %></td>
            <td><%= variant.display_characteristics %></td>
            <td style="text-align: center"><%= variant.stock_count %></td>
            <td style="text-align: right"><%= variant.display_cost_price %></td>
            <td style="text-align: right"><%= variant.display_cost_price_tax_amount %></td>
            <td style="text-align: right"><%= variant.display_total_cost_price %></td>
            <td style="text-align: right"><%= variant.display_retail_price %></td>
            <td style="text-align: right"><%= variant.display_retail_price_tax_amount %></td>
            <td style="text-align: right"><%= variant.display_total_retail_price_including_tax %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <th style="text-align: center"><%= @view_model.total_product_quantity %></th>
        <th style="text-align: right"><%= @view_model.total_cost_price %></th>
        <th style="text-align: right"><%= @view_model.total_cost_price_tax_amount %></th>
        <th style="text-align: right"><%= @view_model.total_cost_price_including_tax %></th>
        <th style="text-align: right"><%= @view_model.total_retail_price %></th>
        <th style="text-align: right"><%= @view_model.total_retail_price_tax_amount %></th>
        <th style="text-align: right"><%= @view_model.total_retail_price_including_tax %></th>
      </tr>
    </tbody>
  </table>
  <br />
  <%= link_to "Export as CSV", report_path(format: 'csv'), class: "btn btn-outline-primary" %>
</div>
